name: Python package

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.10']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          ci/requirements.txt

    - name: Install dependencies
      run: |
        python -m pip install --upgrade --quiet pip build flake8 pytest

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Install local editable
      run: |
        pip install -e .

    - name: Test with pytest
      run: |
        pytest --showlocals -vrsx .
        
    - name: Attempt to install library
      run: |
        pip install .
        condax ensure-path
        mkdir -p "${HOME}/.local/bin"
      
    - name: Use library to add a package
      run: |
        condax install black

    - name: Run the installed package
      run: |
        export PATH="$PATH:${HOME}/.local/bin"
        black --help
      if: matrix.os != 'windows-latest'

    - name: Run the installed package
      run: |
        $env:Path = "$PATH;${HOME}/.local/bin"
        black --help
      if: matrix.os == 'windows-latest'

    - name: Remove the installed package
      run: |
        condax remove black
