name: publish

on:
  release:
    types:
      - published
  push:
    branches:
      - main

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: build
        run: |
          python -m pip install build
          python -m build
      - name: Check files
        run: |
          ls dist
        shell: bash

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
        if: ${{ github.event_name == 'release' }}